.rev9-player-board-cover
    display: flex
    height: 108mm
    width: 78mm

    &__building
        flex-basis: 50%
        flex-grow: 1
        flex-shrink: 0

    &__warehouse
        align-items: center
        display: flex
        flex-basis: 50%
        flex-direction: column
        flex-grow: 1
        flex-shrink: 0
        justify-content: center

        > div
            border: 1mm solid rgba(black, .5)
            border-radius: 100%
            margin: 3mm
