.rev9-tile
    border: 20mm solid transparent
    position: relative

    &__bonus-wrapper
        align-items: center
        bottom: -20mm
        display: flex
        justify-content: center
        left: -20mm
        overflow: hidden
        position: absolute
        right: -20mm
        top: -20mm

    &__bonus
        height: 8mm
        width: 8mm

    &__gold
        color: #4e3a00
        left: 50%
        position: absolute
        top: 50%
        transform: translate(-50%, -50%) scale(1.5)
