.group
    margin-bottom: 32px
    width: 100%

    &__items
        justify-content: center
        display: flex
        flex-wrap: wrap

    &__item
        background: repeating-linear-gradient(-45deg, rgba(black, .05), rgba(black, .05) 16px, white 16px, white 32px)
        border: 1px solid rgba(black, .1)
        border-radius: 8px
        box-shadow: 0 2px 4px 0 rgba(black, .1)
        margin: 8px
        padding: 16px
