.content-table
    display: flex
    flex-direction: column
    height: 100%

    &__table
        background: repeating-linear-gradient(-45deg, rgba(black, .05), rgba(black, .05) 16px, white 16px, white 32px)
        flex-grow: 1
        position: relative

    &__inner
        left: 50%
        position: absolute
        top: 50%
        transform-origin: top left
