.table-object
    align-items: center
    display: flex
    justify-content: center

    &--no-texture
        background-color: rgba(black, .1)
        left: 50%
        position: absolute
        top: 50%
        transform: translate(-50%, -50%)

    &--bag
        height: 240px
        position: relative
        width: 240px
